<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/container.css">
    <link rel="stylesheet" href="/src/css/index.css">
    <link rel="stylesheet" href="/src/css/reset.css">
    
</head>
<body>
    <section class="advantages">
        <div class="container">

        </div>
    </section>

    <section class="gallery section">
        <div class="container ">
            <ul class="gallery-list">
                <li class="gallery-item">
                    <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/src/images/slide-1x-1.jpg" alt="slide-1-icecream" class="gallery-img-slide">
                            </div>
                            <div class="swiper-slide">
                                <img src="/src/images/bg-mobile-slide-1x-2.jpg" alt="slide-1-icecream" class="gallery-img-slide">
                            </div>
                            <div class="swiper-slide">
                                <img src="/src/images/bg-mobile-slide-1x-3.jpg" alt="slide-1-icecream" class="gallery-img-slide">
                            </div>
                    </div>
                    
                </li>
                <li class="gallery-item">
                    <img src="" alt="customer-feedback" class="gallery-customer">
                </li>
                <li class="gallery-item">
                    <p class="gallery-customer-feedback">I love visiting your cafe.
                    You prepare the most delicious ice cream in Los Angeles!
                    In addition, you have beautiful serving, cozy atmosphere and polite staff.
                    </p>
                </li>
                <li class="gallery-item">
                    <p class="gallery-cusomr-name">Emily, Los Angeles</p>
                </li>
                <li class="gallery-item"></li>
            </ul>
        </div>
    </section>
    
</body>
</html>